<p *ngIf="!(classify$ | async)">loading classify...</p>
<!-- <button  routerLink="/addbooks"  routerLinkActive="active" mat-raised-button color="primary" >Add book form</button> -->
<!-- <mat-accordion>
    <mat-expansion-panel *ngFor = "let cla of classify$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{cla.category}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
    the article:  {{cla.title}}
    </mat-expansion-panel>
  </mat-accordion> -->

  <table id="t01" style="width:80%">
    <thead>
    <tr>
      <th>category</th>
      <th>article</th>
    </tr>
    </thead>
    <tbody *ngFor = "let cla of classify$ | async">
     <!-- <div *ngFor = "let cla of classify$ | async"> -->
    <tr>
      <td>{{cla.category}}</td>
      <td>{{cla.title}}</td>
     
    </tr>
    <!-- </div> -->
    </tbody>
  </table>