table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
  }
  table#t01 {
    width: 100%;
    background-color: #f1f1c1;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    color: white;
    background-color: blue;
  }