<h3>List of Posts</h3>
<button mat-raised-button color="primary" [routerLink]="['/postform']">Add New Post</button >

  <!-- <div ng-controller="savePosts"> 
    <button mat-raised-button color="primary" (click)="pushPosts()">Push To FireStore</button>
    <p>{{pushAlert}}</p>
  </div>
-->
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$|async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      
      by {{post.body}}   
    
      <!-- <div *ngFor = "let user of users$ ">  
        <div *ngIf = "user.id == post.userId">-->
          <mat-panel-title>
          Author: {{post.author}}
        </mat-panel-title>
        <button mat-raised-button color="warn" (click)=deletePost(post.id)>
          Delete Post
         </button>
         &nbsp;
         <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id">
          Edit Post
          </button>
        </mat-expansion-panel>
  </mat-accordion>
