
  <mat-selection-list #authors>
    <p *ngIf="!(authors$ | async)">loading authors...</p>   
    <mat-list-option *ngFor="let author1 of authors$| async">
          {{author1.author}}
        </mat-list-option>
      </mat-selection-list>
      <p>
        Options selected: {{authors.selectedOptions.selected.length}}
      </p>
     
      <mat-card>
        <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field>
              <input matInput  [(ngModel)] = "author"
                               name = "author"
                               required #spy
                               #temp = "ngModel"
                               
                >
                                        
            </mat-form-field>
        
            
            <div >
                <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Primary</button>
            </div>
          </div>
        </form>
        </mat-card>